<ion-view title="Confirmar Servicio" id="page9">
    <ion-content padding="true" class="has-header">
        <ion-list id="confirmarServicio-list8">
            <ion-item class="item-icon-left balanced" id="confirmarServicio-list-item23">
                <i class="icon ion-information-circled"></i>Contacto con
                <strong>Bayron Londoño</strong>
            </ion-item>
            <ion-item class="item-avatar" id="confirmarServicio-list-item13">
                <h2>Bayron Londoño</h2>
                <p>valor :
                    <strong>$50.000</strong>
                </p>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.detalleDeServicio" id="confirmarServicio-button18" class="button button-calm  button-block icon-right ion-ios-person">Ver perfil de
            <strong>Byron Lindoño</strong>
        </a>
        <a ui-sref="tabsController.escojaUnMetodoDePago" id="confirmarServicio-button21" class="button button-balanced  button-block icon-right ion-android-checkbox">Confirmar servicio y
            <strong>pagar</strong>
        </a>
    </ion-content>
</ion-view>