<ion-view title="Detalle de servicio" id="page3">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="detalleDeServicio-card23">
            <ion-item class="item-avatar" id="detalleDeServicio-list-item16">
                <h2>Bairon Londoño</h2>
                <p>entretenedor profesional</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/1168-00-06.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body" id="detalleDeServicio-list-item-container3">
                <div id="detalleDeServicio-markdown1" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
                <a ui-sref="tabsController.confirmarServicio" id="detalleDeServicio-button9" class="button button-balanced  button-block icon-right ion-android-checkbox">Solicitar Servicio</a>
                <a href="tel:3004795235" id="detalleDeServicio-button17" class="button button-calm  button-block icon-right ion-ios-telephone">Llamar a esta persona</a>
            </div>
            <ion-item class="item-icon-left" id="detalleDeServicio-list-item17">
                <i class="icon ion-chatboxes"></i>Dejar un comentario</ion-item>
            <ion-item class="item-avatar" id="detalleDeServicio-list-item18">
                <h2>Oswaldo rodriguez</h2>
                <p>excelente servicio !</p>
            </ion-item>
            <ion-item class="item-avatar" id="detalleDeServicio-list-item19">
                <h2>Peppa pig</h2>
                <p>servicio regular</p>
            </ion-item>
            <ion-item class="item-avatar" id="detalleDeServicio-list-item20">
                <h2>John Doe</h2>
                <p>Bacano, pa que</p>
            </ion-item>
            <ion-item class="item-avatar" id="detalleDeServicio-list-item21">
                <h2>El kevo</h2>
                <p>este vale da las mejores fiestas</p>
            </ion-item>
            <ion-item class="item-avatar" id="detalleDeServicio-list-item22">
                <h2>El jeffo</h2>
                <p>#activao #moral</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>