<ion-view title="Escoja un metodo de pago" id="page10">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="escojaUnMetodoDePago-card28">
            <ion-item class="item-icon-left positive" id="escojaUnMetodoDePago-list-item30">
                <i class="icon ion-card"></i>Recibimos todas las tarjetas !</ion-item>
            <div class=" item item-image">
                <img src="img/we-accept-credit-cards.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <form id="escojaUnMetodoDePago-form12" class="list">
            <label class="item item-input" id="escojaUnMetodoDePago-input15">
                <span class="input-label">cc #</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input" id="escojaUnMetodoDePago-input19">
                <span class="input-label">ccv</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-input" id="escojaUnMetodoDePago-input16">
                <span class="input-label">propietario</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="escojaUnMetodoDePago-input17">
                <span class="input-label">vence</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.pagoConfirmado" id="escojaUnMetodoDePago-button22" class="button button-positive  button-block">Confirmar pago</a>
    </ion-content>
</ion-view>