<ion-view title="Perfil" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="perfil-card27">
            <ion-item class="item-avatar" id="perfil-list-item29">
                <h2>Oswaldo Rodriguez</h2>
                <p>universidad libre</p>
            </ion-item>
        </div>
        <ion-list id="perfil-list5">
            <form id="perfil-form5" class="list">
                <ion-toggle toggle-class="toggle-positive" id="perfil-toggle1">Activar notificaciones</ion-toggle>
                <ion-radio id="perfil-radio1">Recibir Correos</ion-radio>
                <label class="item item-input" id="perfil-input9">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="Oswaldo Rodriguez">
                </label>
            </form>
            <label class="item item-input" id="perfil-input10">
                <span class="input-label">Email</span>
                <input type="text" placeholder="oswal@osw.co">
            </label>
            <label class="item item-input" id="perfil-input11">
                <span class="input-label">Telefono</span>
                <input type="text" placeholder="300479025">
            </label>
            <label class="item item-input" id="perfil-input12">
                <span class="input-label">Direccion</span>
                <input type="text" placeholder="calle 50#64 - 70 ">
            </label>
        </ion-list>
    </ion-content>
</ion-view>