<ion-view title="Servicios Disponibles" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="serviciosDisponibles-form6" class="list">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Escribe para buscar...">
            </label>
        </form>
    



    <ion-list>
        <ion-item ng-repeat="servicio in servicios" href="#/page1/tab1/page3/{{servicio.id}}">
            {{ servicio.nombre }}
        </ion-item>
        
    </ion-list>

    </ion-content>
</ion-view>